/*img*/
#Outline_img {
    width: 90vw;
    max-width: 800px;
    text-align: center;
    margin: 0;
  }
  .img_div {
    display: block;
    margin: auto;
    text-align: center;
  }

/*img*/
#Outline_img_A {
    width: 70vw;
    max-width: 500px;
    text-align: center;
    margin: 0;
}
.img_div_A {
    display: block;
    margin: auto;
    text-align: center;
}

/*テスト*/
h1, p {
  text-align: center;
}

.inactive {
  display: none;
}
